body {
    background-color:#fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid{
    padding-left: 80px;
    padding-right: 120px;
}
.carousel-inner{
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
}
